


.Sparkles {
    background-color: rgb(69, 93, 145);
    color: rgb(117, 248, 146);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    

}

#h1 { line-height: 2cm;
    font-size: 90px;
    color: rgb(255, 121, 121); 
    font-weight: 500px;
    display: inline-flex;}


.lennon {width: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    float: inline-start
}
 
.coraline {
    background-color: rgb(233, 171, 171);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    font-size: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    nav {
        font-size: 20px;
        display: inline-flex;
        align-content: space-around;}

section h3 {
    display:flex;
}

section h2 {
    display: inline-flex;
}

p { font-size: 20px;
}

div section {
    border-color: aliceblue;
    display: flex;
    
}
